.banner-heading{
    font-weight: 700;
    font-size: 35px;
    color: #444444;
}

.banner-info-text{
    color: #8d8d8d !important;
}

.explore-button{
    background: #48C8D1;
}
.explore-button:hover{
    background: #48C8D1;
}